body {
  font-family: helvetica, arial, sans-serif;
  line-height: 13px;
}

h1 {
  font-style: italic;
  color: #FF6F00;
}

h2{
	font-size: 13px;
	font-weight: normal;
	margin: 4px 3px 5px 10px;
}



video {
  clear: both;
  display: block;
  margin: 0px 0px 2px;
  background: #000000;
  width: 480px;
  height: 360px;
}

button {
  padding: 10px;
  float: left;
  margin: 4px 3px 5px 10px;
}

.removed {
  display: none;
}

#status {
  font-size:100%;
  color: #FF6F00;
  margin: 30px 0px 3px;
}
